@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Привет в чате.</h1>
    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" disabled="disabled" />
    </div>
    <div id="chatroom"></div>
</div>


<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    document.getElementById("sendBtn").addEventListener("click", function () {
        let message = document.getElementById("message").value;
        hubConnection.invoke("Send", message)
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    hubConnection.on("Receive", function (message) {

        let messageElement = document.createElement("p");
        messageElement.textContent = message;
        document.getElementById("chatroom").appendChild(messageElement);
    });

    hubConnection.start()
        .then(function () {
            // document.getElementById("sendBtn").disabled = false;
            console.log ("Подключение успешно")
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
</script>
